{{ form_start(form, {'attr': {'class': 'needs-validation'}}) }}
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">{{ 'prise_de_vue.form.section.general_info'|trans }}</div>
                <div class="card-body">
                    {{ form_row(form.date) }}
                    {{ form_row(form.photographe) }}
                    {{ form_row(form.ecole) }}
                    {{ form_row(form.typePrise) }}
                    {{ form_row(form.theme) }}
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-header">{{ 'prise_de_vue.form.section.session_details'|trans }}</div>
                <div class="card-body">
                    {{ form_row(form.nombreEleves) }}
                    {{ form_row(form.nombreClasses) }}
                    {{ form_row(form.typeVente) }}
                </div>
            </div>
            
            <div class="card mb-4">
                <div class="card-header">{{ 'prise_de_vue.form.section.pricing'|trans }}</div>
                <div class="card-body">
                    {{ form_row(form.prixEcole) }}
                    {{ form_row(form.prixParent) }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-4">
        <div class="card-header">{{ 'prise_de_vue.form.section.selected_packages'|trans }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {# Pour les champs EntityType multiple, form_row est généralement préférable pour le label #}
                    {{ form_row(form.planchesIndividuel) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.planchesFratrie) }}
                </div>
            </div>
        </div>
    </div>
    
    <div class="mb-3">
        {{ form_row(form.commentaire) }}
    </div>

    <div class="card mb-4">
        <div class="card-header">{{ 'prise_de_vue.form.section.additional_info'|trans }}</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.frequence) }}
                    {{ form_row(form.baseDeDonneeUtilisee) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.jourDecharge) }}
                    {{ form_row(form.endroitInstallation) }}
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">{{ button_label|default('form.button.save'|trans) }}</button>
{{ form_end(form) }}
