{% extends 'base.html.twig' %}
{% block title 'Planches' %}

{% block body %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="h3">Liste des planches</h1>
    <a href="{{ path('admin_planche_new') }}" class="btn btn-primary mb-3">
        <i class="bi bi-plus-circle me-1"></i> Nouvelle planche
    </a>
  </div>

  {% include 'partials/_flash_messages.html.twig' %}

  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th>Nom</th><th>Usage</th><th>Actif</th><th></th>
            </tr>
          </thead>
          <tbody>
            {% for p in planches %}
              <tr>
                <td>{{ p.nom }}</td>
                <td>{{ p.usage }}</td>
                <td>{{ p.actif ? 'Oui' : 'Non' }}</td>
                <td>
                  <a href="{{ path('admin_planche_edit', {id:p.id}) }}" class="btn btn-sm btn-secondary">✏</a>
                  {{ include('admin/planche/_delete_form.html.twig', {p:p}) }}
                </td>
              </tr>
            {% else %}
              <tr><td colspan="4" class="text-center fst-italic">Aucune planche trouvée</td></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center mt-4">
        {{ pagerfanta(pager, 'default') }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
