<div class="row">
    {# Type de Prise avec ajout dynamique #}
    <div class="col-md-4 mb-3">
        {{ form_label(form.typePrise) }}
        <div class="select-with-add-container">
            {{ form_widget(form.typePrise, {
                'attr': {
                    'class': 'form-select select-with-add',
                    'data-add-url': path('admin_type_prise_modal_new')
                }
            }) }}
        </div>
        {{ form_errors(form.typePrise) }}
    </div>

    {# Type de Vente avec ajout dynamique #}
    <div class="col-md-4 mb-3">
        {{ form_label(form.typeVente) }}
        <div class="select-with-add-container">
            {{ form_widget(form.typeVente, {
                'attr': {
                    'class': 'form-select select-with-add',
                    'data-add-url': path('admin_type_vente_modal_new')
                }
            }) }}
        </div>
        {{ form_errors(form.typeVente) }}
    </div>

    {# Thème avec ajout dynamique #}
    <div class="col-md-4 mb-3">
        {{ form_label(form.theme) }}
        <div class="select-with-add-container">
            {{ form_widget(form.theme, {
                'attr': {
                    'class': 'form-select select-with-add',
                    'data-add-url': path('admin_theme_modal_new')
                }
            }) }}
        </div>
        {{ form_errors(form.theme) }}
    </div>
</div>

{# Instructions d'utilisation #}
{# 
Pour utiliser ce template dans votre formulaire de prise de vue :

1. Incluez ce template dans votre formulaire principal :
   {% include 'admin/prise_de_vue/_form_referentials.html.twig' %}

2. Assurez-vous que le JavaScript dynamic-referentials.js est chargé

3. Vos champs de formulaire doivent être nommés 'typePrise', 'typeVente' et 'theme'

4. Les routes modales doivent être accessibles :
   - admin_type_prise_modal_new
   - admin_type_vente_modal_new  
   - admin_theme_modal_new
#} 